@import url(./main.css);

body{
    background-color: var(--bg-color-alt5);
}
header  {
    text-align : center;
    font-size : var(--font-size-header1);
    font-weight: bold;
}
section {
    background-image: url(../img/bgimg.jpg);
}
#cards {
    display: flex;
	flex-direction: row;
    width : 100%;
    margin : auto;
    height : 300px;
}

#cards div {
    margin : 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95);
    height : 150px;
    width:200px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0.8;
    
}

#cards div:hover {
    border-color : transparent;
}

#message {
    width: 60%;
    background-color: var(--bg-color-alt5);
    opacity: 0.8;
    margin-left: 20%;
    text-align: center;
}
#message p {
    padding: 5px;
}