@import url(./main.css);

body{
    background-color: var(--bg-color-alt5);
}
section div.header{
    padding : 10px;
    font-size: var(--font-size-header2);
    color : var(--color-alt3);
    font-weight: bold;
}
nav div.title{
    font-size: var(--font-size-header3);
    font-weight: bold;
    color: var(--color-alt);
    margin-left : 10px;
}
section {
    background-image: url(../img/bgimg.jpg);
    display: flex;
}
#cards {
    display: flex;
	flex-direction: row;
    width : 100%;
    margin : auto;
    height : 300px;
}

#cards div {
    margin : 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.35, 0.95);
    height : 150px;
    width:200px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0.8;
    
}

#cards div:hover {
    border-color : transparent;
}

#message {
    width: 60%;
    background-color: var(--bg-color-alt5);
    opacity: 0.8;
    margin-left: 20%;
    text-align: center;
}
#message p {
    padding: 5px;
}
dataset-management, local-data-set-list {
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
}