:root {
    --weight-normal: 300;
    --weight-bold: 500;
    --font-family-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-size-header1 : 36px;
    --font-size-header2 : 24px;
    --font-size-header3 : 20px;
    --font-size-body1 : 16px;
    --font-size-body2 : 14px;
    --font-size-body3 : 12px;
    --color-main : #2e394d;
    --color-alt : #FFF;
    --color-alt2 : #2e394d;
    --color-alt3 : #444;
    --bg-color-main : #FFF;
    --bg-color-alt : #214387;
    --bg-color-alt2 : #647faa;
    --bg-color-alt3 : #84a6d5;
    --bg-color-alt4 : #eee;
    --bg-color-alt5 : #f2f2f2;
    --block-border-radius : 1rem;
    --block-border-padding : 24px;
    --border-color1 : #4A5568;
    --border-width1 : 7px;
    --button-radius : 3px;
    --button-color : var(--color-main);
    --button-bg-color : var(--bg-color-main);
    --button-border : 2px solid var(--color-main);
    --button-padding : 3px;
  }

  