@import url(../../../assets/css/main.css);

nav fa-button{
    margin-right : 10px;
    margin-left : 10px;
}

nav div.title {
    font-size: var(--font-size-header3);
    font-weight: bold;
    color: var(--color-alt);
}
nav workspace-header{
    margin : auto;
}
workspace-page{
   width : 100%;
    height : 100%;
}

section#data-set-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

