@import url(../../../assets/css/main.css);


nav {
    padding-left : 10px;
    width : calc(100% - 10px);
}
nav div.title{
    font-size: var(--font-size-header3);
    font-weight: bold;
    color: var(--color-alt);
    margin-left : 10px;
}

section {
    background-image: url(../../../assets/img/bgimg.jpg);
    background-repeat: repeat-y;
    display:flex;
}
